* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body {
	background-color: #F5F5F5;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
.top {
	width: 100%;
	height:27px;
	background:url(../images/top_bg.jpg) repeat-x;
}
.top_content {
	width: 1000px;
	height: 27px;
	margin: 0 auto;
	line-height: 27px;
}
.top_content li {
	width: 70px;
	float: right;
	list-style-image: url(../images/arrow.jpg);
}
.top_content a:link, .top_content a:visited {
	color: #8E8E8E;
	text-decoration: none;
}
.top_content a:hover, .top_content a:active {
	color: #C00;
	text-decoration: none;
}
.logo {
	height: 80px;
	background-color: #fff;
	overflow: hidden;
}
.logo_left img{
	/* width: 375px; */
	float: left;
	display: inline;
}
.logo_right {
	width: 300px;
	height: 28px;
	margin-top: 30px;
	display: inline;
	float: right;
	color: #8E8E8E;
}
.logo_right img {
	vertical-align: middle;
	margin-right: 10px;
}
.tel {
	font-size: 22px;
	color: #c00;
}
.nav {
	height: 40px;
}
.nav_left {
	width: 10px;
	height: 40px;
	float: left;
	background: url(../images/nav_left.jpg) no-repeat;
}
.nav_mid {
	width: 980px;
	height: 40px;
	float: left;
	background: url(../images/nav_bg.jpg) repeat-x;
	line-height: 40px;
}
.nav_right {
	width: 10px;
	height: 40px;
	float: left;
	background: url(../images/nav_right.jpg) no-repeat;

}

.nav_mid li {
	float: left;
	list-style-type: none;
	width: 100px;
	text-align: center;
}
.nav_mid a:link, .nav_mid a:visited {
	font-size: 16px;
	color: #fff;
	text-decoration:none;
}
.nav_mid a:hover, .nav_mid a:active {
	font-size: 16px;
	color: #ff0;
	text-decoration: none;
}
.nav_mid_left {
	width: 680px;
	float: left;
	display: inline;
}
.nav_mid_right {
	width: 300px;
	display: inline;
	float: right;
}
.search_text {
	width: 190px;
	height: 25px;
	margin-top: 5px;
	background: url(../images/search.jpg) no-repeat right center;
	background-color: #fff;
	border: 1px solid #fff;
	padding-right: 25px;
}
.ad {
	height: 320px;
	margin-top: 5px;
	overflow: hidden;
}
.main {
	height: 250px;
	margin-top: 5px;
	background-color: #fff;
}
.news {
	width: 340px;
}
.products {
	width: 410px;
	margin: 0 7px;
}
.sidebar {
	width: 230px;
	float: left;
	height: 250px;
	display: inline;
}
.news, .products {
	float:left;
	display: inline;
	height: 250px;
	border: 1px solid #8E8E8E;
}
.title {
	height: 35px;
	border-bottom: 2px solid #8E8E8E;
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	color: #786F66;
}
.title_left {
	width: 70%;
	float: left;
	padding-left: 20px;
}
.title_right {
	width: 20%;
	float: right;
	text-align: right;
}
.title_right a {
	color: #999;
	text-decoration: none;
	font-size: 10px;
	font-weight: normal;
	padding-right: 10px;
}
.pic_news {
	height: 80px;
	margin-top:10px;

}
.pic_news img, .product_list img{
	float:left;
	margin: 0 5px;
}
.pic_news a, .product_list a{
	color: #c00;
	text-decoration: none;
}
.red {
	color:#c00;
	font-weight: bold;
}
.news_list {
	margin-top:20px;
}
.news_list li {
	background: url(../images/list.jpg) no-repeat;
	list-style-type: none;
	padding-left: 10px;
	margin: 8px;
	border-bottom: 1px dotted #ccc;
	height: 17px;
	line-height: 17px;
}

.news_list span {
	float:right;
	color:#999;
}
.news_list a:link, .news_list a:visited {
	text-decoration: none;
	color: #000;
}
.news_list a:hover, .news_list a:active {
	color: #F00;
	text-decoration: none;
}
.product_list {
	height: 120px;
	margin-top: 10px;
	line-height: 22px;
}
.product_type {
	width: 372px;
	height: 37px;
	background: url(../images/product_type.jpg) no-repeat;
	margin: 20px auto;
}
.product_type li {
	list-style-type: none;
	float: left;
	line-height: 37px;
	text-align: center;
	margin:0 15px;
}

.video {
	height: 185px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}
.video_content {
	height: 150px;
}
.service {
	height: 55px;
	border: 1px solid #e8e8e8;
}
.copyright {
	width: 100%;
	height: 180px;
	background-color: #e8e8e8;
	margin-top: 10px;
}
.copyright_content {
	width: 1000px;
	height: 180px;
	margin: 0 auto;
	padding-top: 20px;
}
.copyright_content li {
	list-style-type: none;
	float: left;
	width: 200px;
	text-align: center;
	background: url(../images/line.png) no-repeat right
	center;
	font-size: 18px;
	line-height: 30px;
	color: #999;
}
.copyright_content li ul li {
	font-size: 14px;
}